{% extends "base.html" %}
{% block title %}Устройства{% endblock %}
{% block header %}Устройства{% endblock %}

{% block main_content %}
<script src="{{url_for('static',filename='script_devices.js')}}"></script>

<div>
    <h1>Исполнительные устройства</h1>
    <div id="executor_command_area">
        <span></span>
        <span>Вкл</span>
        <span>Авто</span>
        <span>Настройка</span>
        <span>Переопределить<br>токен</span>
        <span>Переопределить<br>адрес</span>

        <span>Вентиляция</span>
        <span><input type="checkbox" class="executor_on" id="executor_on_vent"></span>
        <span><input type="checkbox" class="executor_autocontrol" id="executor_autocontrol_vent"></span>
        <span><input type="text" class="executor_setting" id="executor_setting_vent" value="" placeholder="Скорость, %"></span>
        <span><input type="password" class="executor_token" id="executor_token_vent" placeholder="Новый токен"></span>
        <span><input type="text" class="executor_address" id="executor_address_vent" placeholder="Новый адрес"></span>

        <span>Обогреватель</span>
        <span><input type="checkbox" class="executor_on" id="executor_on_heater"></span>
        <span><input type="checkbox" class="executor_autocontrol" id="executor_autocontrol_heater"></span>
        <span><input type="text" class="executor_setting" id="executor_setting_heater" value="" placeholder="Мощность, Вт"></span>
        <span><input type="password" class="executor_token" id="executor_token_heater" placeholder="Новый токен"></span>
        <span><input type="text" class="executor_address" id="executor_address_heater" placeholder="Новый адрес"></span>

        <span>Кондиционер</span>
        <span><input type="checkbox" class="executor_on" id="executor_on_ac"></span>
        <span><input type="checkbox" class="executor_autocontrol" id="executor_autocontrol_ac"></span>
        <span><input type="text" class="executor_setting" id="executor_setting_ac" value="" placeholder="Температура, С"></span>
        <span><input type="password" class="executor_token" id="executor_token_ac" placeholder="Новый токен"></span>
        <span><input type="text" class="executor_address" id="executor_address_ac" placeholder="Новый адрес"></span>

        <span>Увлажнитель</span>
        <span><input type="checkbox" class="executor_on" id="executor_on_humidifier"></span>
        <span><input type="checkbox" class="executor_autocontrol" id="executor_autocontrol_humidifier"></span>
        <span><input type="text" class="executor_setting" id="executor_setting_humidifier" value="" placeholder="Мощность, %"></span>
        <span><input type="password" class="executor_token" id="executor_token_humidifier" placeholder="Новый токен"></span>
        <span><input type="text" class="executor_address" id="executor_address_humidifier" placeholder="Новый адрес"></span>
    </div>
    <button onclick="send_device_settings(response)">Выполнить команду</button>
</div>

<div>
    <h1>Датчики</h1>
    <div id="sensor_settings_area">
        <span></span>
        <span>ЗАБЫТЬ</span>
        <span>Новый токен</span>

        <span>Термометр</span>
        <span><input type="checkbox" id="sensor_remove_temperature"></span>
        <span><input type="password" id="sensor_new_token_temperature" placeholder="Новый токен"></span>

        <span>Гигрометр</span>
        <span><input type="checkbox" id="sensor_remove_humidity"></span>
        <span><input type="password" id="sensor_new_token_humidity" placeholder="Новый токен"></span>

        <span>Датчик СО2</span>
        <span><input type="checkbox" id="sensor_remove_co2"></span>
        <span><input type="password" id="sensor_new_token_co2" placeholder="Новый токен"></span>

        <span>Термометр (уличный)</span>
        <span><input type="checkbox" id="sensor_remove_temperature_outer"></span>
        <span><input type="password" id="sensor_new_token_temperature_outer" placeholder="Новый токен"></span>

        <span>Гигрометр (уличный)</span>
        <span><input type="checkbox" id="sensor_remove_humidity_outer"></span>
        <span><input type="password" id="sensor_new_token_humidity_outer" placeholder="Новый токен"></span>
    </div>
    <button onclick="send_sensor_settings()">Выполнить команду</button>
</div>

<div>
    <h1>Отправить запрос вручную</h1>
    <div id="manually_request_area">
        <span><label for="manually_token">Токен: </label></span>
        <span><input type="password" id="manually_token"></span>
        
        <span><label for="manually_value">Значение: </label></span>
        <span><input type="text" id="manually_value"></span>
    </div>
    <button onclick="send_manually_request()">Отправить</button>
</div>

{% endblock %}