{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block header %}Главная{% endblock %}

{% block main_content %}

<div>
	<h1>Что это такое?</h1>
	<p>САРУС - это система автоматического регулирования микроклимата.</p>
	<p>Система сделана в качестве учебного проекта, но изначально проектировалась
		для применения по назначению (у одного из разработчиков дома). Область
		применения - домашнее пользование. Потому сочтено, что одного набора
		датчиков достаточно, чтобы качественно охарактеризовать качества воздуха
		в комнате. В конкретно нашем случае комната одна (размещается система в студии)</p>
</div>

{% endblock %}