{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block header %}Главная{% endblock %}

{% block main_content %}

<div>
	<h1>Что это такое?</h1>
	<p>САРУС - это система автоматического регулирования микроклимата.</p>
	<p>Система сделана в качестве учебного проекта, но изначально проектировалась
		для применения по назначению (у одного из разработчиков дома). Область
		применения - домашнее пользование. Потому сочтено, что одного набора
		датчиков достаточно, чтобы качественно охарактеризовать качества воздуха
		в комнате. В конкретно нашем случае комната одна (размещается система в студии)</p>
</div>
<div>
	<h1>Как пользоваться</h1>
	<p>На вкладке "Отчет" можно посмотреть текущее состояние качеств воздуха, 
		график их изменения и их субъективную оценку.
	</p>
	<p>На вкладке "Настройки" можно задать границы оптимальных значений свойств воздуха,
		а так же период формирования отчета и прогноза. <br> Прогноз здесь нужен только
		для автоматического управления, поэтому сам он нигде не отображается
	</p>
	<p>На вкладке "Устройства" можно настроить параметры устройств, 
		их сетевые адреса, пароли безопасности включить или выключить 
		само ИУ или его автоматическое управление.
		Так же здесь можно отправить запрос от имени датчика.
	</p>
</div>
<div>
	<h1>Контакты</h1>
	<p><b>Еременко Н О</b> <br>
		Tg: @saturasvati <br>
		email: saturasvati@yandex.ru
	</p>
</div>

{% endblock %}